*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

logs
results

.grunt

npm-debug.log
node_modules

node_modules/
public/libs

public/css/*
public/js/*
public/bundle.js

bower_components

# Configuration Files
/config/secret.json

*.local

login_info.txt